<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-5">
          <div class="card-body">
            <h5 class="card-title text-center">{{'Login'|translate}}</h5>
            <form (ngSubmit)="onSubmitLogin(loginForm)" #loginForm="ngForm">
              <div class="mb-3">
                <label for="username" class="form-label">{{'User Name'|translate}}</label>
                <input type="text" name="username"
                 class="form-control"
                 [ngClass]="{ 'is-invalid': usernameCtrl.invalid && (usernameCtrl.touched || formSubmitted)}" 
                 id="username" required #usernameCtrl="ngModel" ngModel>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">{{'Password'|translate}}</label>
                <input type="password" name="password"
                 class="form-control" 
                 [ngClass]="{ 'is-invalid': passwordCtrl.invalid && (passwordCtrl.touched || formSubmitted)}"
                 id="password" required #passwordCtrl="ngModel" ngModel>
                 <div class="alert alert-danger" *ngIf="formError != ''">{{formError}}</div>
              </div>
              <button type="submit" class="btn btn-primary w-100">{{'Submit'|translate}}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
